<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Template</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div class="nav">
  <div class="menu">
    <div class="logo"><a href=""><img src="images/logo.png" /></a> </div>
    <div class="list">
      <ul>
        <li><a href="">HOME</a></li>
        <li><a href="">HEADERS</a></li>
        <li><a href="">ABOUT US</a></li>
        <li><a href="">OUR JOURNAL</a></li>
        <li><a href="">PORTFOLIO</a></li>
        <li><a href="">SERVICE</a></li>
        <li> <a href="">FEATURES</a></li>
        <li><a href="">CONTACTS</a></li>
      </ul>
    </div>
  </div>
  <div class="images">
    <div><a href=""><img src="images/fotorama9.jpg" style="width:1350px; height:430px;" /></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama1.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama2.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama3.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama4.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama5.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama6.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama7.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama8.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama9.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama10.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama11.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama12.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama13.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama14.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama15.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama16.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama17.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama18.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
    <div class="mini-images"><a href=""><img src="images/fotorama19.jpg" style="width:69px; height:70px; border:1px solid white;"/></a></div>
  </div>
  <div class="content">
    <div class="sub-content">
      <h1 class="hd">Hello! We are Finch Studio</h1>
      <p class="paragraph"> We are a digital photography studio specializing in landscape, advertorial and conceptual photography, based in New York. We love to turn ideas into beautiful things.</p>
      <div class="text-box">
        <div class="row">
          <div class="box"><img src="images/icon1.png" style="width:40px; height:45px;" />
            <div class="text-area">
              <h3>Wedding Photography</h3>
              <p class="text-para"> Nulla vitae libero, a pharetra augue. Integer posuere a ante venenatis condimentum. Donec id elit non mi porta gravida metus.</p>
            </div>
          </div>
          <div class="box"><img src="images/icon2.png" style="width:40px; height:45px;" />
            <div class="text-area">
              <h3>Birth Photography</h3>
              <p class="text-para"> Vestibulum id ligula porta euismod semper. Aenean lacinia bibendum vestibulum. Cum sociis natoque penatibus et parturient.</p>
            </div>
          </div>
          <div class="box"><img src="images/icon3.png" style="width:40px; height:45px;" />
            <div class="text-area">
              <h3>Food Photography</h3>
              <p class="text-para"> Aenean eu leo quam. Pellente ornare sem lacinia quam venenatis vestibulum sagittis montes, nascetur ridiculus mus.</p>
            </div>
          </div>
        </div>
        <div class="space"> </div>
        <div class="row">
          <div class="box"><img src="images/icon4.png" style="width:40px; height:45px;" />
            <div class="text-area">
              <h3>Fashion Photography</h3>
              <p class="text-para">Fusce dapibus commodo, tortor mauris condimentum nibh, ut fermentum massa. Maecenas sed diam eget risus varius blandit.</p>
            </div>
          </div>
          <div class="box"><img src="images/icon5.png" style="width:40px; height:45px;" />
            <div class="text-area">
              <h3>Jewelery Photography</h3>
              <p class="text-para"> Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis sit amet non magna sit amet tortor sagittis.</p>
            </div>
          </div>
          <div class="box"><img src="images/icon6.png" style="width:40px; height:45px;" />
            <div class="text-area">
              <h3>Drink Photography</h3>
              <p class="text-para"> Morbi leo risus, porta ac consectetur ac at eros. Cras mattis consectetur purus. Cras mattis consectetur purus fermentum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="walpaper">
    <div class="sub-walpaper">
      <h3>-Our Awesome Projects</h3>
      <a href=""><img src="images/gc1.jpg" style="width:285px; height:220px;"  /> <img src="images/gc2.jpg" style="width:285px; height:220px;" /> <img src="images/gc6.jpg" style="width:285px; height:220px;" /> <img src="images/gc5.jpg" style="width:285px; height:220px;" /></a> </div>
    <div class="simble"><a href=""><img src="images/simble1.png" style="width:10px; height:10px;" /> </a> <a href=""><img src="images/simble2.png" style="width:10px; height:10px;" /> </a></div>
  </div>
  <div class="view">
    <div class="sub-view">
      <h3> - Parallax Section -</h3>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus facilisis egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus.</p>
      <span><a href="">More Information</a> </span></div>
  </div>
  <div class="light-wrapper">
    <div class="sub-light-wrapper">
      <h3>- Our Featured Posts </h3>
      <div class="wrapper-mini"><img src="images/gb1.jpg" style="width:370px; height:340px;" />
        <h3><a href="">Adipiscing Mollis Inceptos</a></h3>
        <span>16 FEB,2018 /</span><span class="meta"><a href="">3 comments</a></span></div>
      <div class="wrapper-mini"><img src="images/gb3.jpg" style="width:370px; height:340px;" />
        <h3><a href="">Ridiculus Ultricies Pellentesque</a></h3>
        <span>02 JAN,2018 /</span><span class="meta"><a href="">5 comments</a></span></div>
      <div class="wrapper-mini"><img src="images/gb5.jpg" style="width:370px; height:340px;" />
        <h3><a href="">Tristique Purus Pharetra</a></h3>
        <span>10 MAR,2018 /</span><span class="meta"><a href="">10 comments</a></span></div>
    </div>
    <div class="simble"><a href=""><img src="images/simble1.png" style="width:10px; height:10px;" /> </a> <a href=""><img src="images/simble2.png" style="width:10px; height:10px;" /> </a></div>
  </div>
  <div class="small-images">
    <div class="sub-small-images">
      <div class="looter">
        <h3>-Latest Flickr Shots</h3>
        <span><a href="">Go to Our Flickr Page </a></span></div>
      <div class="roote"> <img src="images/15353066611_7b4ccf96fd_q.jpg" style="width:159px; height:159px;"  /> <img src="images/15256252459_faeb4a8660_q.jpg" style="width:159px; height:159px;"  /> <img src="images/15293290546_ae32493a9f_q.jpg" style="width:159px; height:159px;"  /> <img src="images/15293298036_21c338405e_q.jpg" style="width:159px; height:159px;"  /> <img src="images/15313174971_bf99aca76a_q.jpg" style="width:159px; height:159px;"  /> <img src="images/15355933972_dc34b7e342_q.jpg" style="width:159px; height:159px;"  /> <img src="images/15355921832_5a1eba261a_q.jpg" style="width:159px; height:159px;"  /></div>
    </div>
    <div class="simble"><a href=""><img src="images/simble1.png" style="width:10px; height:10px;" /> </a> <a href=""><img src="images/simble2.png" style="width:10px; height:10px;" /> </a></div>
  </div>
  <div class="footer">
    <div class="sub-footer">
      <h3>-Get in Touch with Us-</h3>
      <p>Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
      <div class="emty-footer"></div>
      <div class="social">
        <ul>
          <li><a href=""><img src="images/images (2).png" style="width:30px; height:30px;" /></a></li>
          <li><a href=""><img src="images/images.jpg" style="width:30px; height:30px;" /></a></li>
          <li><a href=""><img src="images/images (1).png" style="width:30px; height:30px;"/></a></li>
          <li><a href=""><img src="images/images (3).png" style="width:30px; height:30px;"/></a></li>
          <li><a href=""><img src="images/images.png" style="width:30px; height:30px;"/></a></li>
        </ul>
      </div>
      <div class="link"><span> Moonshine St. 14/05 Light City /</span><span> +00 (123) 456 78 90 /</span><span> <a href="">first.last@email.com </a></span></div>
    </div>
    <div class="small-footer">
      <div class="sub-small-footer">
        <p>© 2014 Zonya. All rights reserved. Theme by <a href="">elemis</a> </p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
